* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v9_493 {
  width: 414px;
  height: 896px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_494 {
  width: 128px;
  color: url("../images/v9_494.png");
  position: absolute;
  top: 56px;
  left: 46px;
  font-family: Nexa Bold;
  font-weight: Regular;
  font-size: 44px;
  opacity: 1;
  text-align: left;
}
.v9_303 {
  width: 169px;
  height: 208px;
  background: url("../images/v9_303.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 215px;
  overflow: hidden;
}
.v9_304 {
  width: 169px;
  height: 208px;
  background: url("../images/v9_304.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 169px;
  overflow: hidden;
}
.v9_305 {
  width: 27px;
  height: 47px;
  background: url("../images/v9_305.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 64px;
  overflow: hidden;
}
.v9_306 {
  width: 26px;
  height: 46px;
  background: url("../images/v9_306.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v9_307 {
  width: 26px;
  height: 46px;
  background: rgba(178,139,103,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v9_308 {
  width: 27px;
  height: 33px;
  background: rgba(35,27,56,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v9_309 {
  width: 169px;
  height: 107px;
  background: url("../images/v9_309.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 0px;
  overflow: hidden;
}
.v9_310 {
  width: 57px;
  height: 91px;
  background: rgba(178,139,103,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 99px;
}
.v9_311 {
  width: 25px;
  height: 71px;
  background: rgba(41,29,73,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 124px;
}
.v9_312 {
  width: 107px;
  height: 79px;
  background: rgba(48,38,76,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 49px;
}
.v9_313 {
  width: 24px;
  height: 25px;
  background: url("../images/v9_313.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 107px;
  overflow: hidden;
}
.v9_314 {
  width: 24px;
  height: 25px;
  background: rgba(197,207,214,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v9_315 {
  width: 37px;
  height: 13px;
  background: url("../images/v9_315.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 133px;
  overflow: hidden;
}
.v9_316 {
  width: 37px;
  height: 13px;
  background: rgba(228,228,228,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v9_317 {
  width: 33px;
  height: 4px;
  background: rgba(48,38,76,1);
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 134px;
}
.v9_318 {
  width: 81px;
  height: 37px;
  background: rgba(40,29,69,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 41px;
}
.v9_319 {
  width: 21px;
  height: 90px;
  background: rgba(35,27,56,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 115px;
}
.v9_320 {
  width: 22px;
  height: 22px;
  background: rgba(35,27,56,1);
  opacity: 1;
  position: absolute;
  top: 84px;
  left: 122px;
}
.v9_321 {
  width: 96px;
  height: 96px;
  background: url("../images/v9_321.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  overflow: hidden;
}
.v9_322 {
  width: 96px;
  height: 96px;
  background: rgba(35,27,56,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v9_323 {
  width: 5px;
  height: 84px;
  background: rgba(35,27,56,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 46px;
}
.v9_324 {
  width: 5px;
  height: 84px;
  background: rgba(35,27,56,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 77px;
}
.v9_325 {
  width: 5px;
  height: 84px;
  background: rgba(35,27,56,1);
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 91px;
}
.v9_326 {
  width: 5px;
  height: 84px;
  background: rgba(35,27,56,1);
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 81px;
}
.v9_327 {
  width: 134px;
  height: 117px;
  background: url("../images/v9_327.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 13px;
  overflow: hidden;
}
.v9_328 {
  width: 134px;
  height: 56px;
  background: rgba(178,139,103,1);
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 0px;
}
.v9_329 {
  width: 65px;
  height: 72px;
  background: rgba(233,176,8,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 60px;
}
.v9_330 {
  width: 50px;
  height: 72px;
  background: rgba(221,227,233,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 36px;
}
.v9_331 {
  width: 58px;
  height: 101px;
  background: rgba(255,191,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 14px;
}
.v9_332 {
  width: 14px;
  height: 22px;
  background: rgba(0,0,0,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 31px;
}
.v9_540 {
  width: 328px;
  color: rgba(48,38,76,1);
  position: absolute;
  top: 378px;
  left: 45px;
  font-family: Proxima Nova;
  font-weight: Bold;
  font-size: 33px;
  opacity: 1;
  text-align: left;
}
.v9_541 {
  width: 328px;
  color: rgba(48,38,76,1);
  position: absolute;
  top: 475px;
  left: 45px;
  font-family: Proxima Nova;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v9_544 {
  width: 339px;
  height: 75px;
  background: url("../images/v9_544.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 775px;
  left: 40px;
  overflow: hidden;
}
.v9_545 {
  width: 339px;
  height: 75px;
  background: rgba(48,38,76,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v9_546 {
  width: 269px;
  color: rgba(255,191,0,1);
  position: absolute;
  top: 24px;
  left: 35px;
  font-family: Proxima Nova;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v20_6 {
  width: 188px;
  height: 177px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 161px;
  left: 207px;
  overflow: hidden;
}
.v20_7 {
  width: 4px;
  height: 4px;
  background: url("../images/v20_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 8px;
  left: 22px;
  overflow: hidden;
}
.v20_8 {
  width: 0px;
  height: 4px;
  background: rgba(71,230,177,1);
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 2px;
}
.v20_9 {
  width: 0px;
  height: 4px;
  background: rgba(71,230,177,1);
  opacity: 0.5;
  position: absolute;
  top: 1px;
  left: 5px;
}
.v20_10 {
  width: 4px;
  height: 4px;
  background: url("../images/v20_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 169px;
  left: 177px;
  overflow: hidden;
}
.v20_11 {
  width: 0px;
  height: 4px;
  background: rgba(71,230,177,1);
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 2px;
}
.v20_12 {
  width: 0px;
  height: 4px;
  background: rgba(71,230,177,1);
  opacity: 0.5;
  position: absolute;
  top: 1px;
  left: 5px;
}
.v20_13 {
  width: 4px;
  height: 4px;
  background: url("../images/v20_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 47px;
  left: 177px;
  overflow: hidden;
}
.v20_14 {
  width: 0px;
  height: 4px;
  background: rgba(71,230,177,1);
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 2px;
}
.v20_15 {
  width: 0px;
  height: 4px;
  background: rgba(71,230,177,1);
  opacity: 0.5;
  position: absolute;
  top: 1px;
  left: 5px;
}
.v20_16 {
  width: 4px;
  height: 4px;
  background: url("../images/v20_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 9px;
  left: 184px;
  overflow: hidden;
}
.v20_17 {
  width: 0px;
  height: 4px;
  background: rgba(71,230,177,1);
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 2px;
}
.v20_18 {
  width: 0px;
  height: 4px;
  background: rgba(71,230,177,1);
  opacity: 0.5;
  position: absolute;
  top: 1px;
  left: 5px;
}
.v20_19 {
  width: 4px;
  height: 4px;
  background: url("../images/v20_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 7px;
  left: 57px;
  overflow: hidden;
}
.v20_20 {
  width: 0px;
  height: 4px;
  background: rgba(71,230,177,1);
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 2px;
}
.v20_21 {
  width: 0px;
  height: 4px;
  background: rgba(71,230,177,1);
  opacity: 0.5;
  position: absolute;
  top: 1px;
  left: 5px;
}
.v20_22 {
  width: 3px;
  height: 3px;
  background: rgba(77,138,240,1);
  opacity: 0.5;
  position: absolute;
  top: 68px;
  left: 11px;
}
.v20_23 {
  width: 3px;
  height: 3px;
  background: rgba(77,138,240,1);
  opacity: 0.5;
  position: absolute;
  top: 151px;
  left: 24px;
}
.v20_27 {
  width: 3px;
  height: 3px;
  background: rgba(77,138,240,1);
  opacity: 0.5;
  position: absolute;
  top: 100px;
  left: 182px;
}
.v20_28 {
  width: 2px;
  height: 2px;
  background: rgba(245,95,68,1);
  opacity: 0.5;
  position: absolute;
  top: 35px;
  left: 13px;
}
.v20_29 {
  width: 2px;
  height: 2px;
  background: rgba(245,95,68,1);
  opacity: 0.5;
  position: absolute;
  top: 140px;
  left: 2px;
}
.v20_30 {
  width: 2px;
  height: 2px;
  background: rgba(245,95,68,1);
  opacity: 0.5;
  position: absolute;
  top: 8px;
  left: 95px;
}
.v20_31 {
  width: 2px;
  height: 2px;
  background: rgba(245,95,68,1);
  opacity: 0.5;
  position: absolute;
  top: 36px;
  left: 110px;
}
.v20_32 {
  width: 2px;
  height: 2px;
  background: rgba(245,95,68,1);
  opacity: 0.5;
  position: absolute;
  top: 103px;
  left: 0px;
}
.v20_33 {
  width: 2px;
  height: 2px;
  background: rgba(71,230,177,1);
  opacity: 0.5;
  position: absolute;
  top: 32px;
  left: 58px;
}
.v20_34 {
  width: 2px;
  height: 2px;
  background: rgba(245,95,68,1);
  opacity: 0.5;
  position: absolute;
  top: 130px;
  left: 158px;
}
.v20_35 {
  width: 59px;
  height: 32px;
  background: url("../images/v20_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 43px;
  left: 63px;
  overflow: hidden;
}
.v20_36 {
  width: 59px;
  height: 32px;
  background: linear-gradient(rgba(128,128,128,0.25), rgba(128,128,128,0.11999999731779099));
  opacity: 0.5;
  position: relative;
  top: 0px;
  left: 0px;
}
.v20_37 {
  width: 30px;
  height: 31px;
  background: rgba(255,191,0,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 65px;
}
.v20_38 {
  width: 30px;
  height: 30px;
  background: rgba(255,191,0,1);
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 91px;
}
.v20_39 {
  width: 136px;
  height: 106px;
  background: url("../images/v20_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 70px;
  left: 24px;
  overflow: hidden;
}
.v20_40 {
  width: 136px;
  height: 106px;
  background: linear-gradient(rgba(128,128,128,0.25), rgba(128,128,128,0.11999999731779099));
  opacity: 0.5;
  position: relative;
  top: 0px;
  left: 0px;
}
.v20_41 {
  width: 118px;
  height: 96px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 78px;
  left: 33px;
}
.v20_42 {
  width: 22px;
  height: 79px;
  background: rgba(255,191,0,1);
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 81px;
}
.v20_43 {
  width: 118px;
  height: 24px;
  background: rgba(0,0,0,1);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 73px;
  left: 33px;
}
.v20_44 {
  width: 132px;
  height: 24px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 71px;
  left: 26px;
}
.v20_45 {
  width: 22px;
  height: 24px;
  background: rgba(255,191,0,1);
  opacity: 1;
  position: absolute;
  top: 71px;
  left: 81px;
}
.v20_69 {
  width: 0px;
  height: 0px;
  background: rgba(0,0,0,1);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 52px;
  left: 120px;
}
.v20_70 {
  width: 3px;
  height: 2px;
  background: rgba(0,0,0,1);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 56px;
  left: 133px;
}
